%tr
  %td= link_to project.name, project_path(project)
  %td= project.repo
  %td
  %td= link_to 'Edit', edit_project_path(project)
  %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
